name: Build and upload jar

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 1.8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'

      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build test --stacktrace --scan

      - name: Upload Legacy Build
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: AnarchyExploitFixes
          # A file, directory or wildcard pattern that describes what to upload
          path: AnarchyExploitFixesLegacy/build/libs/AnarchyExploitFixes-Legacy*.jar
          if-no-files-found: error

      - name: Upload Folia Build
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: AnarchyExploitFixes
          # A file, directory or wildcard pattern that describes what to upload
          path: AnarchyExploitFixesFolia//build/libs/AnarchyExploitFixes-Folia*.jar
          if-no-files-found: error